// content colors
$content-primary: #FFFFFF;
$content-secondary: #98959D;
$content-tertiary: #666666;
$content-brand: #9282Fa;

// background
$background-primary: #151515;
$background-secondary: #1E1E1E;
